/*NAV*/
header {
  width: 100%;
  padding: 0 2%;
  position: fixed;
  z-index: 99;
}

nav {
  padding-top: 2%;
  font-size: 15.3px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.menu_bar {
  padding: 1.5em 2em 0em 2em;
}

nav ul li a {
  padding: 10px 25px !important;
}

.navbar {
  min-height: 80px;
  background-color: transparent;
  border: none;
}

.navbar-brand {
  padding: 0px;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #000;
}

/*footer*/
.footer {
  padding: 2% 1%;
}

.fond-griss {
  background-color: #ccc;
}

.container {
  width: 100%;
}

hr.principal {
  border-top: 3px solid #000;
  width: 57px;
  margin-left: 0;
}

/*BG-home*/
.hero {
  background-image: url("../images/home4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.trans {
  background-color: rgba(0, 0, 0, 0.5);
}

.banner {
  padding: 20% 0 15%;
  color: #fff;
}

/*services*/
.services {
  margin: 5% 0 5%;
}

/*team*/
.team {
  margin: 5% 0 5%;
}

.team img {
  width: 100%;
}

.bloques {
  padding-top: 10%;
}

/*studio*/
.studio {
  background-image: url("../images/bg3.jpg");
  background-size: cover;
  background-repeat-x: initial;
  background-position-y: 439px;
}

.studio hr {
  border-top: 3px solid #fff;
}

.pstudio {
  padding: 9% 0 3%;
}

.pstudio iframe {
  width: 100%;
  height: 100%;
}

.textestudio {
  padding: 10% 0 10%;
  color: #fff;
}

/*ourt Best*/
.price h2 {
  color: #636363;
}

.price .big {
  font-size: 50px;
  font-height: bold;
}

.cabeza {
  padding: 7% 0;
  border-bottom: solid 1px #767677;
}

.icons {
  border-bottom: solid 1px #767677;
}

.dere {
  border-left: solid 1px #767677;
}

.box img {
  padding: 10%;
}

.box p {
  padding: 10%;
}

.negro {
  padding: 4% 0;
  background-color: #000;
  color: #fff;
  font-height: bold;
}

/*contact us*/
.contac {
  padding: 5% 0;
}

.side {
  padding-top: 5%;
}

.side h5 small {
  font-size: 15px;
}

.form-control {
  margin-bottom: 2%;
}

.mensaje {
  height: 90px;
}

.btn.btn-default {
  background-color: #444444;
  color: #fff;
  padding: 1% 2%;
  border-radius: none;
}
